<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!-- Session Timeout (2 minutes) -->
    <session-config>
        <session-timeout>2</session-timeout>
    </session-config>

    <!-- Database Connection Servlet -->
    <servlet>
        <servlet-name>DatabaseConnection</servlet-name>
        <servlet-class>com.MegaCityCab.DatabaseConnection_1</servlet-class>
    </servlet>

    <!-- Booking Servlet -->
    <servlet>
        <servlet-name>BookingServlet</servlet-name>
        <servlet-class>com.MegaCityCab.BookingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookingServlet</servlet-name>
        <url-pattern>/bookRide</url-pattern>
    </servlet-mapping>

    <!-- Login Servlet -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.MegaCityCab.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <!-- Register Servlet -->
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.MegaCityCab.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>

    <!-- Add Driver Servlet -->
    <servlet>
        <servlet-name>AddDriverServlet</servlet-name>
        <servlet-class>com.MegaCityCab.AddDriverServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddDriverServlet</servlet-name>
        <url-pattern>/addDriver</url-pattern>
    </servlet-mapping>

    <!-- Booking Report Download Servlet -->
    <servlet>
        <servlet-name>BookingReportServlet</servlet-name>
        <servlet-class>com.MegaCityCab.BookingReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookingReportServlet</servlet-name>
        <url-pattern>/downloadBookingReport</url-pattern>
    </servlet-mapping>


    <!-- Welcome Page -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

</web-app>
